.ingredient_item_div{
    background: #FDF5EE;
    border-radius: 20px;
    height: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}