.head_part_div{
    background: url("../../images/header.png") no-repeat center center;
    background-size:contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 797px){
    .head_part_div{
        background: url("../../images/headerMob.png") no-repeat center center;
        background-size: contain;
        justify-content: normal;
    }
}

.head_part_div hr{
    border: 1px solid #D0D0D0;
    width: 90%;
}

.head_part_div .title{
    font-size: 80px;
    display: block;
    padding-top: 140px;
    padding-left: 90px;
    width: 50% !important;
    text-align: left;
}

@media (max-width: 797px){
    .head_part_div .title{
        font-size: 40px;
        padding-top: 50px;
        padding-left: 40px;
        width: 90vw !important;
    }

    .head_part_div hr{
        display: none;
    }
}

.head_part_div .title .orange{
    color: #D67340;
}

.head_part_div .buttons{
    padding-left: 90px;
    padding-bottom: 70px;
}
@media (max-width: 797px){
    .head_part_div .buttons{
        padding-bottom: 0px;
        margin-top: 40vh;
        margin-bottom: 30px;
        padding-left: 0px;
        margin-left: 20px;
    }
}

@media (max-width: 797px){
    .head_part_div .buttons .dark_org_btn{
        margin-right: 0px;
        margin-bottom: 30px;
        margin-right: 20px;
    }
}

.head_part_div .buttons .light_org_btn{
    width: 256px;
    border-radius: 30px;
    background-color: #FFF5F0;
    border: none;
    padding: 10px 0px;
    color: #D67340;
    cursor: pointer;
}

.dark_org_btn{
    width: 256px;
    border-radius: 30px;
    background-color: #D67340;
    border: none;
    padding: 10px 0px;
    color: white;
    margin-right: 30px;
    cursor: pointer;
}