.products_page_div .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 797px){
    .products_page_div .title{
        flex-wrap: wrap;
    }
}

.products_page_div .dark_org_btn{
    margin-right: 100px;
    margin-top: 40px;
}

@media (max-width: 797px){
    .products_page_div .dark_org_btn{
        margin-left: 40px;
        margin-right: 0px;
        font-size: 16px;
    }
}